body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

h4 {
	color: #474747;
	font-family: Lora;
	font-style: italic;
	font-size: 16px;
	margin: 0 0 10px 0;
	line-height: 1.4em;
}

h4.speaker_name {
	color: #f36e71;
}

img.speaker_image {
	width: 100%;
}

.logo {
	margin-top: 50px;
	margin-bottom: 50px;
}

h1, .jumbotron h1 {
	font-family: Lora;
	font-style: italic;
	font-size: 18px;
	text-align: right;
}

h2 {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 15px;
	margin-top: 0;
	text-align: right;
}

h3 {
	font-family: Lora;
	font-style: italic;
	font-size: 20px;
	color: #53beb4;
	margin: 0 0 15px 0;
	line-height: 1.4em;
}


h5 {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 15px;
	margin-top: 0;
	text-align: right;
}

a:link { text-decoration: none; color: #f36e71; }
a:hover { text-decoration: none; color: #cd5e61; }
a:visited { text-decoration: none; color: #f36e71; }
a:active { text-decoration: none; color: #f36e71; }

.nav {
	margin: 0 0 15px 0;
}

.nav-justified > li > a, 
.nav-justified > li > a:hover, 
.nav-justified > li > a:focus { background: transparent;}

.logo {
	margin-top: 2em;
	margin-bottom: 1em;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.btn-fixx {
	background-color: #f36e71;
	color: #fff;
	font-family: Roboto;
	font-weight: 700;
	font-size: 18px;
}

.mailing-list-container {
	background: #e6e6e6;
	margin: 15px 0 15px 0;
	padding: 20px;
}

.bottom-padding {
	margin-bottom: 30px;
}

.google-maps {
        position: relative;
        /*padding-bottom: 20%; // This is the aspect ratio */
        height: 250px;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 10px;
        width: 100% !important;
        height: 200px !important;
    }

.twitter-logo-small {
  width: 20px;
  margin-right: 6px;
}