body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

h4 {
	color: #474747;
	font-family: Lora;
	font-style: italic;
	font-size: 16px;
	margin: 0 0 10px 0;
	line-height: 1.4em;
}

h4.speaker_name {
	color: #f36e71;
}

img.speaker_image {
	width: 100%;
}

.logo {
	margin-top: 50px;
	margin-bottom: 50px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.jumbotron p {
	text-align: right;
}

.jumbotron p.header-text {
	font-family: Lora;
	font-style: italic;
	font-size: 18px;
}

.jumbotron p.header-subtext {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 15px;
	margin-top: 0;
}

.btn-fixx {
	background-color: #f36e71;
	color: #fff;
	font-family: Roboto;
	font-weight: 700;
	font-size: 18px;
}

.section-header {
	font-family: Lora;
	font-style: italic;
	font-size: 20px;
	color: #53beb4;
}