body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

h1, .jumbotron h1 {
	font-family: Lora;
	font-style: italic;
	font-size: 18px;
	text-align: right;
}

h2 {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 15px;
	margin-top: 0;
	text-align: right;
}

h3 {
	font-family: Lora;
	font-style: italic;
	font-size: 20px;
	color: #53beb4;
	margin: 0 0 15px 0;
	line-height: 1.4em;
}

h4 {
	color: #474747;
	font-family: Lora;
	font-style: italic;
	font-size: 16px;
	margin: 0 0 10px 0;
	line-height: 1.4em;
}

a:link { text-decoration: none; color: #f36e71; }
a:hover { text-decoration: none; color: #cd5e61; }
a:visited { text-decoration: none; color: #f36e71; }
a:active { text-decoration: none; color: #f36e71; }


.logo {
	margin-top: 50px;
	margin-bottom: 50px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.btn-fixx {
	background-color: #f36e71;
	color: #fff;
	font-family: Roboto;
	font-weight: 700;
	font-size: 18px;
}

.mailing-list-container {
	background: #e6e6e6;
	margin: 15px 0 15px 0;
	padding: 20px;
}

